*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}




.head {
    background-color: rgb(243, 28, 64);
    height: 88px;
    
}

img {
    width: 200px;
    height: 85px;
}
.head {
    display: flex;
    
   }

.topnav input{
    margin-top: 30px;
    width: 380px;
    height: 30px;
    margin-left: 80px;
}
.cart button{
    margin-top: 30px ;
    margin-left: 180px;
    padding: 10px 10px 10px 10px;
    width: 100px;
    background-color: rgb(243, 28, 64) ;
    color: white;
    font-size: 17px;
    outline: none;
    border: none; 
    
    
}
.signbtn{
    margin-top: 30px;
    margin-left: 180px;
    padding: 10px 10px 10px 10px;
    width: 100px;
    background-color: rgb(243, 28, 64) ;
    font-size: 17px;
 
}
.signbtn a{
    color: white;
}

nav {                 /*dropdown*/
    width: 250px;
   
    top: 100px;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
    margin-left: 15px;
    z-index: 5;

    

}
nav ul .dropdown ul {
    position:absolute ;
    z-index: 5;
    
    
}
nav ul {
    position: relative;
    list-style-type: none;
    z-index: 5;
    
}

nav ul li a {
    
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;
    z-index: 5;
    

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    z-index: 5;
    
    
} 

nav ul ul { 
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
    z-index: 5;
}
nav ul .dropdown {
    position: relative;
   
}
nav ul .dropdown:hover ul {
    display: initial;
    
}

 /* dropdowb=2 */
nav ul li a {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown2 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown2 {
    position: relative;
}
nav ul .dropdown2:hover ul {
    display: initial;
}
 

/*dropdown3*/

nav ul .dropdown3 a{
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul.dropdown3   ul li {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown3 {
    position: relative;
}
nav ul .dropdown3:hover ul {
    display: initial;
}

/*dropdown4*/
nav {                 /*dropdown*/
    width: 250px;
    
    top: 100px;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
    margin-left: 15px;

}
nav ul {
    position: relative;
    list-style-type: none;
}
nav ul li a {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul ul {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown {
    position: relative;
}
nav ul .dropdown:hover ul {
    display: initial;
}


nav ul li a {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown4 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown4 {
    position: relative;
}
nav ul .dropdown4:hover ul {
    display: initial;
}
 
/*dropdown5*/

 
.dropdown5 ul  li  {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown5 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown5 {
    position: relative;
}
nav ul .dropdown5:hover ul {
    display: initial;
}

/*dropdown6*/


 
.dropdown6 ul  li  {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown6 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown6 {
    position: relative;
}
nav ul .dropdown6:hover ul {
    display: initial;
}

/*dropdown7*/

 
.dropdown7 ul  li  {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown7 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown7 {
    position: relative;
}
nav ul .dropdown7:hover ul {
    display: initial;
}

/*dropdown8*/

 
.dropdown8 ul  li  {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown8 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown8 {
    position: relative;
}
nav ul .dropdown8:hover ul {
    display: initial;
}

/*dropdown9*/

 
.dropdown9 ul  li  {
    display: flex;
    align-items: center;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;

} 
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul .dropdown9 ul  {
    position: absolute;
    left: 250px;
    width: 200px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown9 {
    position: relative;
}
nav ul .dropdown9:hover ul {
    display: initial;
}


  
#slider {                            /*slider*/
  overflow: hidden;
  

}
#slider figure {
 position: relative;
 width: 500%;
 /* height: 700px; */
 left: 0;
 animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  35% {
      left: -100%;
  }
  45% {
      left: -200%;
  }
  50% {
      left: -200%;
  }
    70%{
      left: -100%;
  }
  75%{
      left: -100%;
  } 
95%{
    left: 0%;
}
100%{
    left: 0%;

} 
/* 80%{
    left: 0%;
}
100%{
    left: 0%;

} */
}
#vc {
    width: 400px;
    height: 300px;
    overflow: hidden;
  }

.header{
    display: flex;
    /* overflow: hidden; */

}


/*trending*/
.addvert {
    margin-left:280px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: -200px;
    gap: 2px;
}
.trend {
    
    width: 190px;
    height: 250px;
    border: solid rgb(224, 153, 153) 4px;
    

}

/*banner*/
.ban {
    width: 1300px;
    height: 400px;
    border: solid black 2px;
    margin-top: 10px;
    margin-right: -180px;
    margin-left: 20px;
}

/*social*/
.logo  {
    
    width: 40px;
    height: 40px;
    text-align: center;
    
    
}
.connect {
    margin-left: 550px;
    
}
.connect h2 {
    margin-top: 15px;
    margin-left: 80px;
    margin-bottom: 15px;
    
}

/*overall*/
.overall    {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(63, 58, 58, 0.5);
    font-size: 13px;
    margin: 50px 40px 20px 40px;
}

.overall1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(63, 58, 58, 0.5);
    font-size: 13px;
    margin: 20px 40px 20px 40px;

}



















/* @media (max-width:528px){

    .head {
        background-color: rgb(243, 28, 64);
        height: 50px;
        
    }
    
    img {
        width: 100px;
        height: 50px;
    }
    .head {
        display: flex;
        
       }
    
    .topnav input{
        margin-top: 14px;
        width: 180px;
        height: 20px;
        margin-left: 20px;
        border: none;
        outline: none;
    }
    .topnav ::placeholder{
        font-size: 11px;
        padding-left: 10px;
    }
    .cart button{
        margin-top: 7px ;
        margin-left: 10px;
        padding: 10px 10px 10px 10px;
        width: 80px;
        background-color: rgb(243, 28, 64) ;
        color: white;
        font-size: 13px;
        outline: none;
        border: none; 
        
        
    }
    .cart button i{
        font-size: 12px;
    }
    .signbtn{
        margin-top: 7px;
        margin-left: 10px;
        padding: 10px 10px 10px 10px;
        width: 100px;
        background-color: rgb(243, 28, 64) ;
        font-size: 15px;
     
    }
    .signbtn a{
        color: white;
    }
    
    nav {                 
        width: 120px;
        position: absolute;
        top: 50px;
        bottom: 0;
        border-radius: 10px;
        box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
        margin-left: 15px;
    
    }
    nav ul {
        position: relative;
        list-style-type: none;
    }
    nav ul li a {
        display: flex;
        align-items: center;
        font-family: arial;
        font-size: 11px;
        text-decoration: none;
        color: black;
        height: 20px;
        transition: .5s ease;
    
    } 
    nav ul li a:hover {
        background: rgba(218, 189, 189, 0.7);
        color: aliceblue;
        
    } 
    nav ul ul {
        position: absolute;
        
        width: 120px;
        top: 0;
        display: none;
        background: rgba(218, 189, 189, 0.7);
        border-radius: 10px;
        box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
    }
    nav ul .dropdown {
        position: relative;
    }
    nav ul .dropdown:hover ul {
        display: initial;
    }
    
    
    nav ul li a {
        display: flex;
        align-items: center;
        font-family: arial;
        font-size: 12px;
        text-decoration: none;
        color: black;
        padding: 4px 30px;
        height: 50px;
        transition: .5s ease;
        overflow: hidden;
    
    } 
    nav ul li ul li a{
        font-size: 10px;
    }
    nav ul li a:hover {
        background: rgba(218, 189, 189, 0.7);
        color: aliceblue;
        
    } 
    nav ul ul {
        position: absolute;
        left: 120px;
        width: 120px;
        font-size: 10px;
        top: 0;
        display: none;
        background: rgba(218, 189, 189, 0.7);
        border-radius: 10px;
        box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
    }
    nav ul .dropdown2 {
        position: relative;
    }
    nav ul .dropdown2:hover ul {
        display: initial;
    }
}
      


/* nav ul .dropdown3 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown3 li a{
    margin-left: -30px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown3  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown3 {
    position: relative;
}
nav ul .dropdown3:hover ul {
    display: initial;
}



nav ul .dropdown4 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown4 li a{
    margin-left: -20px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown4  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown4 {
    position: relative;
}
nav ul .dropdown4:hover ul {
    display: initial;
}

nav ul .dropdown5 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown5 li a{
    margin-left: -30px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown5  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown5 {
    position: relative;
}
nav ul .dropdown5:hover ul {
    display: initial;
}


nav ul .dropdown6 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown6 li a{
    margin-left: -30px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown6  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown6 {
    position: relative;
}
nav ul .dropdown6:hover ul {
    display: initial;
}



nav ul .dropdown7 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown7 li a{
    margin-left: -30px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown7  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown7 {
    position: relative;
}
nav ul .dropdown7:hover ul {
    display: initial;
}


nav ul .dropdown8 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown8 li a{
    margin-left: -30px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown8  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown8 {
    position: relative;
}
nav ul .dropdown8:hover ul {
    display: initial;
}


nav ul .dropdown9 li {
    display: flex;
    align-items: flex-start;
    font-family: arial;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 4px 30px;
    height: 50px;
    transition: .5s ease;


} 
nav ul .dropdown9 li a{
    margin-left: -30px;
}
nav ul li a:hover {
    background: rgba(218, 189, 189, 0.7);
    color: aliceblue;
    
} 
nav ul  .dropdown9  ul {
    position: absolute;
    left: 120px;
    width: 120px;
    top: 0;
    display: none;
    background: rgba(218, 189, 189, 0.7);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, .5);
}
nav ul .dropdown9 {
    position: relative;
}
nav ul .dropdown9:hover ul {
    display: initial;
} */  